* {
  margin: 0;
  font-family: Roboto;
}
@media screen and (min-width: 600px) {
  .category {
    margin: 2% 2%;
    height: 6em;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
  }
  #header {
    background-color: #273852;
    height: 70px;
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .container {
    background-color: white;
    width: auto;
    border: 1.5px solid red;
    justify-self: center;
    padding: 5px 16px 5px 16px;
    text-align: center;
  }

  #part {
    font-size: 9px;
  }
  .container p {
    color: #273852;
    font-size: 20px;
    margin: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 0% 2%;
  }
  .innercontent {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .innercontent h1 {
    color: #273852;
  }
  .post {
    display: flex;
    font-size: small;
  }
  .innercontent p {
    font-size: 16px;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 0% 1%;
    border-bottom: 1px solid rgb(212, 212, 212);
  }
  .square {
    height: 180px;
    width: 180px;
    margin-right: 2%;
    margin-bottom: 2%;

    background-color: #d0d0d0;
  }

  .left h3 {
    color: #273852;
  }
  #head {
    margin-top: 2%;
    font-size: larger;
    color: #273852;
  }
  #dropdown {
    width: 19em;
    height: 2.5em;
    margin: 1em 0em 1em 0em;
    border: 1px solid black;
  }
  .right {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
  }
  .right h3 {
    font-size: medium;
    color: #273852;
  }
  button:active {
    background-color: #273852;
  }
  #search_field {
    display: inline-block;
    height: 2.5em;
    width: 14em;
    border-radius: 0;
    border: 1px solid rgb(3, 3, 3);
  }
  #subsrcibe {
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0em;
  }
  #search_button {
    /* position: absolute; */
    display: inline-block;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    color: white;
    background-color: #000000;
  }
  .read {
    margin-top: 1%;
    margin-bottom: 2%;
    width: max-content;
    background-color: #d25b49;
    border: none;
    color: white;
    padding: 5px;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }
  footer {
    background-color: #273852;
    height: 50px;
    width: 100%;
    margin-top: auto;
    color: white;
    bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .category {
    margin: 2% 2%;
    /* height: 6.5em; */
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #header {
    background-color: #273852;
    height: 70px;
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .container {
    background-color: white;
    width: auto;
    justify-self: center;
    border: 1.5px solid red;
    padding: 5px 16px 5px 16px;
    text-align: center;
  }

  #part {
    font-size: 9px;
  }
  .container p {
    color: #273852;
    font-size: 20px;
    margin: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .innercontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em 0em 1em;
  }
  .innercontent h1 {
    align-self: center;
    color: #273852;
  }
  .post {
    display: flex;
    font-size: small;
    /* flex-direction: column; */
  }
  .innercontent p {
    font-size: medium;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    border-bottom: 1px solid rgb(122, 121, 121);
  }
  .square {
    height: 180px;
    width: 180px;
    margin: auto;
    background-color: #d0d0d0;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
  }
  .left h3 {
    margin: 2%;
    align-self: center;
    font-size: medium;
    color: #273852;
  }
  #head {
    margin: 2%;
    order: 1;
    font-size: larger;
    color: #273852;
  }
  #dropdown {
    width: 15em;
    height: 2em;
    background-color: white;
    border: 1px solid black;
    margin: 0.5em;
  }
  .right {
    order: 3;
    display: flex;
    flex-direction: column;
  }
  .right h3 {
    margin-bottom: 2%;
    font-size: medium;
    align-self: center;
    color: #273852;
  }

  #search_field {
    display: inline-block;
    height: 2em;
    width: 10em;

    border-radius: 0;
    border: 1px solid rgb(3, 3, 3);
  }
  #subsrcibe {
    display: flex;
    margin: 0.5em 0em 1em;
    /* justify-content: center; */
  }
  button:active {
    background-color: #273852;
  }
  #search_button {
    display: inline-block;
    border: none;
    border-radius: 0;

    width: max-content;
    color: white;
    background-color: #000000;
  }
  .read {
    margin-top: 1%;
    margin-bottom: 2%;
    width: max-content;
    background-color: #d25b49;
    border: none;
    color: white;
    margin: 1em 0em 1em;
    padding: 5px;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  footer {
    background-color: #273852;
    height: 50px;
    width: 100%;
    margin-top: auto;
    color: white;
    bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
